<h2 mat-dialog-title>Add Sleep Record</h2>

<mat-dialog-content>
  <form [formGroup]="sleepRecordForm" class="form-container">
    <mat-form-field appearance="outline" class="mt">
      <mat-label>Started</mat-label>
      <input matInput type="datetime-local" formControlName="started" required />
      <mat-icon matPrefix>bedtime</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Finished</mat-label>
      <input matInput type="datetime-local" formControlName="finished" required />
      <mat-icon matPrefix>alarm</mat-icon>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions class="buttons-container">
  <mat-spinner *ngIf="isCreating" [diameter]="40" mode="indeterminate"></mat-spinner>
  <button mat-raised-button mat-dialog-close color="accent" [disabled]="isCreating">Cancel</button>
  <button mat-raised-button (click)="onCreate()" [disabled]="isCreating">Create</button>
</mat-dialog-actions>
